/* The import elemnent */
/* The fonts */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

/*================ TABLETS =============*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
}
/*================ LAPTOPS =============*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}
/*================ DESKTOPS =============*/
@media only screen and (min-width: 1200px) {
  .mainContainer {
    background: url("../../assets/images/heroImage.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 35rem;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  }

  .primaryContainer {
    position: absolute;
    top: 30px;
    right: 5em;
    display: flex;
    flex-direction: column;
    padding: 0 4px;
  }

  .wavetext span {
    display: inline-block;
    font-size: 4em;
    animation: wave 2s ease-in-out infinite;
    font-weight: 900;
    background-image: url("../../assets/images/imagebg.jpg");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Anton", sans-serif;
  }

  .wavetext span:nth-child(1) {
    animation-delay: 0s;
  }
  .wavetext span:nth-child(2) {
    animation-delay: 0.2s;
  }
  .wavetext span:nth-child(3) {
    animation-delay: 0.4s;
  }
  .wavetext span:nth-child(4) {
    animation-delay: 0.6s;
  }
  .wavetext span:nth-child(5) {
    animation-delay: 0.8s;
  }
  .wavetext span:nth-child(6) {
    animation-delay: 1s;
  }
  .wavetext span:nth-child(7) {
    animation-delay: 1.4s;
  }
  .wavetext span:nth-child(8) {
    animation-delay: 1.6s;
  }
  .wavetext span:nth-child(9) {
    animation-delay: 1.8s;
  }

  @keyframes wave {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
  }

  .leadtext {
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    font-style: italic;
  }

  .callAction {
    padding: 15px 10px;
    background: #04a;
    text-align: center;
    border-radius: 8px;
    color: #fff;
    margin-top: 22px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
  .callAction {
    font-size: 1.1rem;
    padding: 20px 16px;
    max-width: 250px;
  }
  .callAction a {
    text-decoration: none;
    color: #fff;
  }
}
/*================ MOBILE DEVICE =============*/
@media only screen and (max-width: 767px) {
  .mainContainer {
    background: url("../../assets/images/heroImage.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 25rem;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  }

  .primaryContainer {
    position: absolute;
    top: 30px;
    right: 1em;
    display: flex;
    flex-direction: column;
    padding: 0 4px;
  }
  .wavetext {
    font-size: 3.4rem;
    font-weight: 900;
    color: #000;
    background-image: url("../../assets/images/imagebg.jpg");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Anton", sans-serif;
    font-weight: 900;
  }
  .leadtext {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    font-style: italic;
  }
  .callAction {
    padding: 15px 10px;
    background: #04a;
    text-align: center;
    border-radius: 8px;
    color: #fff;
    margin-top: 3em;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }
  .callAction a {
    text-decoration: none;
    color: #fff;
  }
}
